body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("img/1.jfif");
  background-size: cover;
    background-color: white;
    color: black;
    
  
}

header {
  background-color: #2a69ad;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #dddbdb;
}


aside {
  width: 20%;
  background-color: #f4f4f4;
  padding: 1rem;
}

footer {
  background-color: #2a69ad;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

section {
    border: 2px solid black;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
}

h1 {
  
}

h2, h3 {
    font-size: x-large;
    margin-top: 20%;
}

#idSection ul,li {
  margin: 15px;
}

.dark-mode {
  background-color: black;
  color: white;
}